.content h1 {
  color: rgb(208, 66, 85);
}

.content h2 {
  color: rgb(213, 118, 63);
}

.content h3 {
  color: rgb(229, 181, 103);
}

.content h4 {
  color: rgb(168, 195, 115);
}

.content h5 {
  color: rgb(108, 153, 187);
}

.content h6 {
  color: rgb(158, 134, 200);
}